html{
    overflow: hidden;
    background-color: #fafafa;
    
}

.background{
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 10px;
    background-image: url(./Images/background.png);
    background-repeat: repeat-x;
    animation: backgroundSlide 6s infinite linear;
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 4em;
}

.dino{
    width: 60px;
    height: 60px;
    background: url(./Images/dino.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.cactus {
    background: url(./Images/cactus.png);
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10px;
}

@keyframes backgroundSlide{
    from{
        background-position: 1000%;
    }
    to{
        background-position: 0;
    }
}