/*Parte 1 - 'Display flex;'
Essa propriedade transforma a tag em um flex container. É necessária para poder usar todas as outras propriedades relacionadas ao flex container.
Pode ser aplicada a qualquer tipo de tag.
*/

#parte01 {
    border: 5px solid black;
    width: 400px;
    padding: 5px;
    margin: 20px 0px; 
}

#parte01 .flex{
    max-width: 300px;
    padding: 16px;
    border: 2px solid black;
}

#parte01 .item{
    background-color: aqua;
    margin: 5px;
}

#parte01 .flex-com{
    width: 300px;
    padding: 16px;
    border: 2px solid black;
    display: flex; /* Transforma os itens em flex e ocupando o espaço proporcional do conteúdo de cada um.*/
}
/*---------------------------------------------*/

/*Parte 2 - Flex Direction*/

/* Estabelece a direção do flex container: em linha ou em coluna.
Oso flex direction tem os seguintes valores:
    row(default): direção em linha da esquerda para a direita;
    row-reverse: direção em linha da direita para a esquerda;
    column: direção em coluna de cima para baixo, coluna única;
    column-reverse: direção em coluna de baixo para cima, coluna única
*/

/*Usando exemplos:*/

#parte02 {
    border: 5px solid black;
    width: 400px;
    padding: 5px;
    margin: 20px 0px; 
}

#parte02 .flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    
}

#parte02 .flex-item{
    background: blue;
    height: 50px;
    width: 50px;
    line-height: 25px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}

#parte02 .row-reverse{
    flex-direction: row-reverse;
}

#parte02 .column{
    flex-direction: column;
}

#parte02 .column-reverse{
    flex-direction: column-reverse;
}

/*------------------------------------------*/
/*PARTE 03 - FLEX WRAP*/

/*Define a quebra de linhas dos flex itens. Por padrão os itens ficam contidos até o limite do conteúdo.
OBS: quebra de linha é o item descer para a proxima linha quando não couber na linha atual. Por padrão ele extrapola a largura máxima do container para caber na mesma linha.*/

/*Os valores para o flex wrap são:
    nowrap(default): não permite quebra de linha.
    wrap: permite a quebra de linha quando extrapolar a largura do item. Porém, se houver um limite de altura, vai haver vazamento de conteúdo;
    wrap-reverse: é o mesmo que o anterior, mas revertido, contudo, quando houver quebra de linha, todo conteúdo vai para a proxima linha e o novo na linha atual.
*/
/*Exemplos do flex wrap*/

#parte03 {
    border: 5px solid black;
    width: 400px;
    padding: 5px;
    margin: 20px 0px; 
}

#parte03 .flex-container,
#parte03 .column{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    
    height: 120px;
    background: red;
    
}

#parte03 .column{
    flex-direction: column;
}

#parte03 .flex-item{
    background: black;
    height: 50px;
    min-width: 100px;
    line-height: 25px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}

#parte03 .wrap{
    flex-wrap: wrap;
}

#parte03 .wrap-reverse{
    flex-wrap: wrap-reverse;
}

/*---------------------------------------------*/

/*PARTE 4 FLEX FLOW*/
/*Flex flow é uma abreviação de flex direction e flex wrap. É o mesmo que ocorre com background, que é uma abreviação de background: color, image, position, size, repeat, origin, clip e attachment.
O flex flow não é usado muito pois o raramente se altera o flex-wrap.*/

#parte04 {
    border: 5px solid black;
    width: 400px;
    padding: 5px;
    margin: 20px 0px; 
}

#parte04 .flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    height: 120px;
    background: aquamarine;
}

#parte04 .flex-item{
    margin: 5px;
    background:chartreuse;
    height: 50px;
    min-width: 100px;
    height: 50px;
    line-height: 25px;
    font-size: 20px;
    color: rgb(105, 105, 105);
    text-align: center;
    margin: 5px;
}

#parte04 .row-nowrap{
    flex-flow: row nowrap;
}

#parte04 .row-wrap{
    flex-flow: row wrap;
}

#parte04 .rowreverse-nowrap{
    flex-flow: row-reverse nowrap;
}

#parte04 .rowreverse-wrap{
    flex-flow: row-reverse wrap;
}

#parte04 .row-wrapreverse{
    flex-flow: row wrap-reverse;
}

#parte04 .rowreverse-wrapreverse{
    flex-flow: row-reverse wrap-reverse;
}

#parte04 .column-nowrap{
    flex-flow: column nowrap;
}

#parte04 .column-wrap{
    flex-flow: column wrap;
}

#parte04 .columnreverse-nowrap{
    flex-flow: column-reverse nowrap;
}

#parte04 .columnreverse-wrap{
    flex-flow: column-reverse wrap;
}

#parte04 .column-wrapreverse{
    flex-flow: column wrap-reverse;
}

#parte04 .columnreverse-wrapreverse{
    flex-flow: column-reverse wrap-reverse;
}