html{
    overflow: hidden;
}

.background{
    height: 50vh;
    width: 95vw;
    background-color: burlywood;
}

.dino{
    width: 60px;
    height: 60px;
    background: green;
    position: absolute;
    bottom: 50vh;
    left: 2vw;
}

.cactus {
    background: red;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 50vh;
}